<% @recipe.steps.each do |step| %>
	<div class="row">
		<div class="span1 column center">
			<%= link_to "delete", step_path(step), :confirm => "Are you sure?", :method => :delete %>
		</div>
		<div class="span1 column stepnum">
			<div>
				<h2><%= step.number_string %></h2>
			</div>
		</div>
		<% step.associations.each do |association| %>
			<div class="span1 column padright">
			<nobr>
			<%= render association %>
			<div class="rem_association">
				<%= link_to "x", association_path(association), :confirm => "Are you sure?", :method => :delete %>
			</div>
			<% unless association == step.associations.last %>
				<div class="combine" >+</div>
			<% end %>
			</nobr>
			</div>
		<% end %>
		<div class="span1 column padright">
			<%= image_tag 'newIngredient.png', :class => 'newIngredient', :id => step.id %>
		</div>
	</div><!-- /row --> 
	<!-- <div class="row">
		<div class="span10 columns offset3 note"><%= step.note %></div>
	</div> -->
<% end %>


<script>
	var toolbox = $('div.ingredient_toolbox');
	$('img.newIngredient').click(
		function() {
			$('#associations_activeStep').val($(this).attr('id'));
			toolbox.slideToggle("slow");
		}
	);

	$('img.ingredient').qtip({
		position: {
	      my: 'top middle', 
	      at: 'bottom middle'
	   },
	   style: { 
	      tip: true,
	      classes: 'ui-tooltip-dark ui-tooltip-rounded'
	   }
	});
</script>