
<ul id="step-list">
<% @recipe.steps.each do |step| %>
<li id="step_<%= step.id %>" class="s">
	<div class="row">
		<div class="span1 column center">
			<%= delete_step_tag @recipe, step %>
		</div>
		<div class="span1 column stepnum handle">
			<div>
				<h2><%= step.number_string %></h2>
			</div>
		</div>
		<div class="span10 columns padright">
			<ul id="i_step_<%= step.id %>" class="step">
				<% step.associations.each do |association| %>
					<li id="association_<%= association.id %>" class="a">
						<%= render :partial => 'shared/options', :locals => {:step => step, :association => association} %>
						<%= render association %>
					</li>
				<% end %>
			</ul>
			<%= new_ingredient_img_tag step %>
		</div>
	</div><!-- /row --> 
	<!-- <div class="row">
		<div class="span10 columns offset3 note"><%= step.note %></div>
	</div> -->

	<script>
	$(document).ready(function(){
	$('#i_step_<%= step.id %>').disableSelection();
	$('#i_step_<%= step.id %>').sortable({
		axis: 'x',
		dropOnEmpty: false, 
		handle: '.handle', 
		items: 'li.a',
		cursor: 's-resize',
		opacity: 0.8,
		scroll: false,
		revert: true,
		update: function(){
			$.ajax({
			    type: 'post', 
			    data: $('#i_step_<%= step.id %>').sortable('serialize') + '&id=<%= step.id %>', 
			    dataType: 'script', 
			    complete: function(request){
			        $(this).effect('highlight');
			        $(this).sortable("refresh" );
			      },
			    url: '/steps/prioritize'})
			}
		});
	});
	</script>
<% end %>
</li>
</ul>

<script>
	$(document).ready(function(){
	$('#step-list').disableSelection();
	$('#step-list').sortable({
		axis: 'y',
		dropOnEmpty: false, 
		handle: '.handle', 
		items: 'li.s',
		opacity: 0.8,
		scroll: false,
		update: function(){
			$.ajax({
			    type: 'post', 
			    data: $('#step-list').sortable('serialize') + '&id=<%= @recipe.id %>', 
			    dataType: 'script', 
			    complete: function(request){
			        $(this).effect('highlight');
			      },
			    url: '/recipes/prioritize'})
			}
		});
	});
	</script>

<%= render :partial => 'shared/editjs' %>




  
