<% @recipe.steps.each do |step| %>
	<div class="row">
		<div class="span1 column center">
			<%= delete_step_tag @recipe, step %>
		</div>
		<div class="span1 column stepnum">
			<div>
				<h2><%= step.number_string %></h2>
			</div>
		</div>
		<% step.associations.each do |association| %>
		<div class="span1 column padright">
		<nobr>
		<%= render association %>
		<%= render :partial => 'shared/options', :locals => {:step => step, :association => association} %>
		<% unless association == step.associations.last %>
			<div class="combine" >+</div>
		<% end %>
		</nobr>
		</div>
		<% end %>
		<div class="span1 column padright">
			<%= new_ingredient_img_tag step %>
		</div>
	</div><!-- /row --> 
	<!-- <div class="row">
		<div class="span10 columns offset3 note"><%= step.note %></div>
	</div> -->
<% end %>
<%= render :partial => 'shared/editjs' %>