<%= form_for @recipe do |f| %>
  <div class="update_recipe modal" > 
    <div class="modal-header"> 
      <h3>edit recipe</h3>
      <a href="#" class="close">&times;</a> 
    </div> 
    <div class="modal-body"> 
      <div id="recipe_image">
        <%= image_tag(@recipe.image, :size => "70x70", :title => @recipe.name, :class => "ingredient") %>
      </div>
      <div class="fields">
        <%= f.label :name, "name" %>&nbsp;&nbsp;
        <%= f.text_field :name, :class => "xlarge" %>
      </div>
      <div id="create_remove_ingredient">
        <p>create an ingredient based on this recipe for use in future recipes!</p>
        <%= create_remove_ingredient_button @recipe %>
      </div>
    </div>
    <div class="modal-footer"> 
      <div class="btn_left">
        <%= link_to "delete", recipe_path(@recipe), :confirm => "Are you sure?", :method => :delete, :id => "delete", :class => "btn danger" %>
      </div>
    	<%= f.submit "save", :class => "btn primary", :id => "submitRecipe" %>
      <a href="#" class="btn secondary" id="nevermind" >nevermind</a> 
    </div> 
  </div> 
<% end %>
<div id="mask"></div>